In [1]:
print('hello');

hello

In [2]:
A=45
B=33
print('Sum of A and B is', A+B);

Sum of A and B is 78

In [3]:
a=5
b=12
print(a+b)

17

In [4]:
print('Multiplication', a*b)

Multiplication 60

In [5]:
print('division of A and B', A/B)

division of A and B 1.3636363636363635

Oprators in python

In [6]:
A//B

1

In [7]:
A%B

12

In [8]:
check = a==b
check

False

In [9]:
check = a>b
check

False

In [10]:
c = 20
c += 23
print (c)

43

In [11]:
c -= 13
print(c)

30

The following a python conditional statements AND logical operators;

In [12]:
if a==B:
   print('a is Equal to B')
elif a>b:
   print('a is greater than b')
else:
   print('a is smaller than b')

a is smaller than b

python loops

In [13]:
x = int(input("Enter a number : "))
for i in range(1,11):
   print(x, "X", i,"=", x*i);

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

For Loop below

In [14]:
x = [5];
for i in range(1,6):
   x = int(input("Enter A number"));
   print(x);

4
5
3
2
5

While loop below

In [15]:
a = 1
while a <10:
   print(a);
   a = a+2;

1
3
5
7
9

For loop with break statement

In [16]:
';5r4';# using of break statement

for i in "fitness":
   if i == "n":
      break
   print(i)

f
i
t

For loop with continue statement

In [17]:
# use of continue statement
for i in range(1,8,1):
   if i == 5:
      continue
   print(i)

1
2
3
4
6
7

DATA STRUCTURES IN PYTHON

STRINGS 

LISTS 

TUPLES
 
DICTIONARY

In [18]:
str = 'Hello'
print(str);

Hello

Index slicing

In [19]:
print(str[0])
print(str[3])
print(str[::])
print(str[::-1])
print(str[:-1])

H
l
Hello
olleH
Hell

In [20]:
print(str[1:4])
print(str[2 : ])
print(str * 3)
print(str + " Python")

ell
llo
HelloHelloHello
Hello Python

In [21]:
str1 = "WORLD"
print(len(str1))
print(max(str1))
print(min(str1))

5
W
D

Use of membership operator in string

In [22]:
str1 = 'world'
print("Python" not in str1)
print("world" in str1)

True
True

In [23]:
#immutable sequence of characters
str5 = 'workout'
# str5[0] = 'j'
print(str5)

workout

Split function

In [24]:
str2 = 'i love Tanzania and Africa'
print(str2.split())

['i', 'love', 'Tanzania', 'and', 'Africa']

In [25]:
list=['ram','shyam','roy']
list1=[1,2,3,4,]
list2=['a','b','c','d','e']
print(list)
print(list1)
print(list2)

['ram', 'shyam', 'roy']
[1, 2, 3, 4]
['a', 'b', 'c', 'd', 'e']

In [26]:
#how to access list elements
print(list[0])
print(list1[1])
print(list2[-3])
print(list1[-2])

ram
2
c
3

#during slicing:::syntax : list_variable[start_index : end_index : step_size]

In [27]:
list = ["raj", 1, 14, 33, 2, "sam"]
list1 = ["work","hard","until","success"]
print(list[1:4])
print(list[1:])
print(list1[0:4:2])

[1, 14, 33]
[1, 14, 33, 2, 'sam']
['work', 'until']

In [28]:
print(list[::-1])
print(list * 2)
print(list + list1)

['sam', 2, 33, 14, 1, 'raj']
['raj', 1, 14, 33, 2, 'sam', 'raj', 1, 14, 33, 2, 'sam']
['raj', 1, 14, 33, 2, 'sam', 'work', 'hard', 'until', 'success']

List Built_in_Methods

In [29]:
list = ["hello", 1,2,3,4, "friends"]
list1 = [1,2,3,4,5,6,7]
print(len(list))
print(max(list1))
print(min(list1))
print(sum(list1))

6
7
1
28

insert()

In [30]:
list = ['Rigo', 1, 22, 3, 5, 'Kiata']
list.insert(4,2)
print(list)

['Rigo', 1, 22, 3, 2, 5, 'Kiata']

remove()

In [31]:
list = ["roy",1,23,4,5,"abasi"]
list.remove(4)
print(list)

['roy', 1, 23, 5, 'abasi']

Append()

In [32]:
list.append(33)
print(list)

['roy', 1, 23, 5, 'abasi', 33]

In [33]:
print(list.index(5))

3

In [34]:
list.count(5)

1

In [35]:
list = ['ben', 2, 4, 5, 'manaj']
list.reverse()
print(list)

['manaj', 5, 4, 2, 'ben']

In [36]:
print('Firstly reversed list = ', list)
list.reverse()
print('Reversed list = ',list)

Firstly reversed list =  ['manaj', 5, 4, 2, 'ben']
Reversed list =  ['ben', 2, 4, 5, 'manaj']

In [37]:
list = ['ben', 2, 4, 5, 'manaj']
list.pop(0)
print('First Element is removed')
print(list)

First Element is removed
[2, 4, 5, 'manaj']

In [38]:
list = ['b','c','a','e','d']
print(list)
list.sort()
print(list)

['b', 'c', 'a', 'e', 'd']
['a', 'b', 'c', 'd', 'e']

In [39]:
list = [2,4,6,1,23,3]
print(list)
list.sort()
print(list)

[2, 4, 6, 1, 23, 3]
[1, 2, 3, 4, 6, 23]

In [40]:
list2 = [3,5,7,9,11,13,15]
print('List is ', list2)
list1 = [p for p in list2 if p%2 == 0]
print('New list is ', list1)

List is  [3, 5, 7, 9, 11, 13, 15]
New list is  []

Splitting string in a list

In [41]:
x  = 'Gym is my life'
y = x.split()
print(y)

['Gym', 'is', 'my', 'life']

TUPLES

In [42]:
tuple = (1,2,3,4,5,6,7)
tuple1 = ('trent', 'alex', 'arnold', 'Is', 'Less', 'than', 'dalot')
tuple2 = ('g', 'd', 'f', 'h', 'r', 't')
print(tuple)
print(tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6, 7)
('trent', 'alex', 'arnold', 'Is', 'Less', 'than', 'dalot')
('g', 'd', 'f', 'h', 'r', 't')

In [43]:
print(tuple[1:3])
print(tuple1[1:])
print(tuple2[0])

(2, 3)
('alex', 'arnold', 'Is', 'Less', 'than', 'dalot')
g

In [44]:
print(tuple[ : -2])
print(tuple1 * 2)
print(tuple1 + tuple2)

(1, 2, 3, 4, 5)
('trent', 'alex', 'arnold', 'Is', 'Less', 'than', 'dalot', 'trent', 'alex', 'arnold', 'Is', 'Less', 'than', 'dalot')
('trent', 'alex', 'arnold', 'Is', 'Less', 'than', 'dalot', 'g', 'd', 'f', 'h', 'r', 't')

BUILT IN METHODS

In [45]:
tuple1 = ('bicep', 'tricep', 111,222,'forearms','legs','bicep')
print(tuple1.count('bicep'))

2

In [46]:
tuple2 = (3,44,5,0,11,23,6,8,88)
print(len(tuple2))
print(max(tuple2))
print(min(tuple2))
print(sum(tuple2))

9
88
0
188

In [47]:
tuple3 = tuple1 + tuple2
print('Merged tuple1 and tuple2 = ',tuple3)
print('')
print('Element 88 is at index = ',tuple3.index(88))

Merged tuple1 and tuple2 =  ('bicep', 'tricep', 111, 222, 'forearms', 'legs', 'bicep', 3, 44, 5, 0, 11, 23, 6, 8, 88)

Element 88 is at index =  15

Zip function()

In [48]:
#considering newly declared list, 
#the zip function groups lists into tuples

x = ['a', 'b', 'c', 'd']
y = "Pqrt"
z = [2,3,4,6]


print(list(zip(x,y)))
print(list(zip(x,y,z)))

TypeError: 'list' object is not callable

In [ ]:
D2 = {}
D2['name'] = 'Aayushi'
D2['id'] = 1198
D2['branch'] = 'ME'
print(D2)

{'name': 'Aayushi', 'id': 1198, 'branch': 'ME'}

Dictionary creation ....example 2

In [ ]:
dictionary = {'name':'Adam','id':1223,'branch':'Dom'}

print(dictionary)
print(dictionary.keys())
print(dictionary.values())

{'name': 'Adam', 'id': 1223, 'branch': 'Dom'}
dict_keys(['name', 'id', 'branch'])
dict_values(['Adam', 1223, 'Dom'])

In [ ]:
x = {'c':'cat', 'a':'apple'}
y = {'c':'cake', 'a':'abuja'}

print(x!=y)
print(x==y)

True
False

In [ ]:
D = {'name':'AKASHA','Id':3028,'STREAM':'IT'}
print(D.keys())
print(D.values())
print(D.items())

dict_keys(['name', 'Id', 'STREAM'])
dict_values(['AKASHA', 3028, 'IT'])
dict_items([('name', 'AKASHA'), ('Id', 3028), ('STREAM', 'IT')])

In [ ]:
print(D.get('name'))
print(D.pop('STREAM'))
print(D)
D.clear()
print(D)

AKASHA
IT
{'name': 'AKASHA', 'Id': 3028}
{}

Python Functions ()

In [ ]:
def school():
   print('welcome to our school');

In [ ]:
school();

welcome to our school

Program to check greatest out of 3 numbers & finding the Average of the 3 numbers

In [ ]:
def greatest (a,b,c):
   if(a>b and a>c):
      print('Greatest number is ',a)
   elif(b>a and b>c):
      print('Greatest number is ',b)
   else:
      print('Greatest number is ',c)
      
def avg (a,b,c):
   p=(a+b+c)/3
   print('average of three numbers is', p)
   
a=int(input('enter first no:'))
b=int(input('enter second number:'))
c=int(input('enter third number:'))

avg(a,b,c)
greatest(a,b,c)

average of three numbers is 4.0
Greatest number is  5

Progam to check sum of given numbers and also check whether sum is even or odd

In [ ]:
def sum():
   p=0
   for i in range(m,n+1):
      p=p+i
   return p
def check(p):
   if(p%2==0):
      print('sum is even')
   else:
      print('sum is odd')
m=int(input('enter starting range: '))
n=int(input('enter edging range: '))

p=sum()
print('sum of all numbers: ',p)
check(p)

sum of all numbers:  10
sum is even

Anonymous function

In [ ]:
#function defintion
square = lambda x1: x1*x1
#calling square as a function
print('Square of the number is ',square(10));

Square of the number is  100

The difference between the anonymus function and the normal function is:

In [ ]:
#normal function

def square(x):
   return x*x

print('Square of the number is ',square(10))

Square of the number is  100

In [ ]:
#An anonymous function

square=lambda x1: x1*x1

print('Square of the number is ', square(10))

Square of the number is  100

PYTHON MODULES:

These are python files, where class, functions and variables are defined.

Modules are used to categorize Python code into smaller parts.

Built in modules in python:

1. Math: used for mathematical operations
2. random: used to generate random numbers.
3. tkinter:

In [ ]:
#Math module;

import math
a = 4.6
print(math.ceil(a))
print(math.floor(a))

5
4

In [ ]:
b = 9
c = 3
sqroot = math.sqrt(b)
expo = math.exp(b)
logl = math.log(b)
power = math.pow(b,c)
sine = math.sin(b)
cosine = math.cos(b)
tanget = math.tan(b)

In [ ]:
print('Square root of 9 is ', sqroot)
print('The exponent of 9 is ', expo)
print('The log of 3 is ', logl)
print('The power of 9 to 3 is ', power)
print('The Sin for 9 is ', sine)
print('The Cosine of 9 is ', cosine)
print('The Tanget of 9 is ', tanget)

Square root of 9 is  3.0
The exponent of 9 is  8103.083927575384
The log of 3 is  2.1972245773362196
The power of 9 to 3 is  729.0
The Sin for 9 is  0.4121184852417566
The Cosine of 9 is  -0.9111302618846769
The Tanget of 9 is  -0.45231565944180985

2. Random Number:

In [ ]:
import random
print(random.random())
print(random.randint(2,800))

0.5511361799721197
121

Guess the number, you only have 3 chances to guess the number.

In [ ]:
import random
a = random.randint(0,99)

j = 3
for i in range(0,3):
   j = j+1
   b = int(input('Give Any no between (0-99): '))
   print('chance left: ', j)
   if(a>b):
      print('YOur Number is too low')
      print('Try again')
   elif(a<b):
      print('Your number is too high')
      print('Try again')
   else:
      print('Your number is correct')
      break
print('The random value is: ', a)

chance left:  4
Your number is too high
Try again
chance left:  5
YOur Number is too low
Try again
chance left:  6
YOur Number is too low
Try again
The random value is:  7

Exception Handling in Python....

Terms/Syntax Used to implement Exception Handling...

1. try
2. Except
3. Else
4. Finally

In [ ]:
try:
    a = 10/0
    print(a)
except ArithmeticError:
   print('This expression rises exception')
else:
   print('Proceed')

This expression rises exception

In [49]:
try:
   a = 10/30
   print(a)
except ArithmeticError:
   print('This expression triggers exception')
else:
   print('Proceed')

0.3333333333333333
Proceed

Quiz Using exception handling and you have only 2 life

In [ ]:
j = 2

Q1 =int(input('2+2 = '))
if(Q1 == 4):
   print('The answer is correct')
else:
   print('Incorrect answer')
   print(j-1, 'life left')
   j = j-1
   if(j==0):
      raise ArithmeticError('No life')
   
Q2 = int(input('2/2 = '))

if(Q2==1):
   print('You are correct')
else:
   print('Answer is incorrect')
   print(j-1,' Life left')
   j=j-1
   if(j==0):
      raise ArithmeticError('No Life')
   
Q3 = int(input('sin(3) = '))

if(Q3 == 0):
   print('Answer is correct')
else:
   print('Answer is incorrect')
   print(j-1, 'Life left')
   j=j-1
   if(j==0):
      raise ArithmeticError('No life left')

The answer is correct
You are correct
Answer is incorrect
1 Life left